.header{
    height: 100%;
    width:100%;
    background-color: orangered;
    margin-top: 100px;
}

.footer{
    height: 100%;
    width:100%;
    background-color: #0000ff;
}

.myTable{
    margin: 20px;
    width: 80%;
}

.loginTable{
    width: 400px;
}


  